*{
  background-color: #192d36;
}

.titulo{
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #192d36;
}

.nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.lista li{
  float: left;
}

.lista li button{
  display: block;
  background-color: #ca233e;
  border: none;
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.lista li button:hover {
  background-color: #c05164;
}

.container-characters{
  color:white;
}

.container-characters button{
  color: white;
  border: none;
  background-color: #ca233e;
}

.output-char .personaje{
  margin-top: 0;
  height: 0;
  margin-bottom: 3%;
}

.output-char{
  margin-top: 2%;
  padding: 2%;
}

.output-char .imagen-personaje{
  margin-right: 2%;
}


.info{
  display: flex;
  flex-direction: column;
}

.info .descripcion{
  width: 30%;
}