<footer>
    <a href="/quienes_somos" target="_blank">¿Quienes somos?</a>
    <a href="https://blogs.portafolio.co/cuales-son-los-componentes-o-partes-mas-importantes-para-armar-un-pc" target="_blank">Articulo de Interés</a>
    <p>Copyright © 2022 - Todos los derechos reservados</p>
</footer>
<script src="./script.js"></script>
</body>