*{
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-image: url("./LLUVIA.jpg");
    background-size: 100%;
    display: flex;
    justify-content: center;
}


.formulario1 .container{
    padding: 4%;
    margin: 2%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

label{
    margin-top: 8px;
}


.formulario1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formulario{
    width: 50%;
    height: 80vh;
    border-radius: 20px;
    margin-top: 2%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 234, 224);
}

select{
    border: none;
    color: white;
    background-color: rgb(51, 95, 214);
}

h1{
    margin-right: 15px;
}

form{
    width: 25%;
    display: grid;
    grid-row:span;
}*{
    font-family: 'Noto Sans', sans-serif;
}



.formulario{
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
}

textarea{
    width: 149px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
}