<%- include('./templates/cabecera') %>

<header>
        <h1 class="titulo">Venta de Componentes para tu computador de Escritorio</h1>
    </header>
    <main>
        <div class="Fecha">
            <div class="fecha">
                <h3 id="mes"></h3>
                <h3 id="dia"></h3>
                <h3 id="año"></h3>
                <h2 id="visitas"></h2>
            </div>
        </div>
        <div class="menu-container">
            <h2>Menú: </h2>
            <p id="main_menu_p1">Aquí encontrarás todo lo que necesitas para armar o mejorar tu computadora de escritorio y obtener
                una mejor experiencia en el uso de la misma.</p>
            <div id="main_menu_p2">
                <p>Puedes elegir entre las siguientes categorías:</p>
                <ol>
                    <li>Componentes</li>
                    <li>Monitores</li>
                    <li>Periféricos</li>
                </ol>
            </div>
        </div>
        <h2>Menú de imágenes</h2>
        <a href="/componentes">Componentes individuales para PC</a>
        <a href="/perifericos">Periféricos para tu PC</a>
        <a href="/pc_completo">Computadores completos de escritorio</a>
        <p>Tienes para escoger entre computadores de gama baja, media y alta, así como a sus respectivas categorías al mejor precio, también puedes 
            comprar partes individuales para mejorar tu computador personal.
        </p>
        <p>Todos nuestros productos así como creaciones a partir de ellos son completamente seguros y testeados manualmente por nuestros expertos</p>
    </main>

<%- include('./templates/footer') %>