<%- include('./templates/cabecera') %>

<h1>Computadores hechos por nosotros</h1>
    <img src="./imagenes/pcgamer1.webp" alt="Imagen computador moderno">
    <img src="./imagenes/pcgamer2.webp" alt="Imagen computador moderno minimalista">
    <img src="./imagenes/pcgamer3.jpg" alt="Imagen computador LED Full">

<%- include('./templates/footer') %>