<%- include('./templates/cabecera') %>

<h1>Estos son los Periféricos que ofrecemos para mejorar tu área de trabajo</h1>
<img src="./imagenes/perifericos1.jpg" alt="Periféricos Mouse, teclado y Audifonos">
<img src="./imagenes/perifericos2.jpg" alt="Periferico Monitor">
<img src="./imagenes/pcgamer3.jpg" alt="Periferico Microfono y combo">

<%- include('./templates/footer') %>