<%- include('./templates/cabecera') %>

<h1>Quien es Componentes PC?</h1>
    <p>Componentes PC es una empresa que se dedica a mejorar la calidad en el ambito infomático en la vida de las personas, 
        ofreciendo productos de calidad y con una gama de precios accesibles para todos los interesados.
    </p>
    <img src="./imagenes/quienessomos.png" alt="Quienes somos">

<%- include('./templates/cabecera') %>