*{
    font-family: 'Nunito', sans-serif;
    background-color: #6F7077;
    padding-left: 1%;
    zoom: 110%;
}

.menu-container {
    transform: ;
}

.Fecha{
    display: flex;
    justify-content: right;
    flex-direction: end;
}

.fecha{
    box-shadow: 1px 1px 5px 1px #F1F0F2;
    width: 15%;
    height: 10%;
    border-style: solid;
    font-size: 10px;
    padding-top: 0;
}

h1{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

footer{
    text-align: center;
    margin-top: 10px;
}


